[Unit]
Description=minimdnsd server

[Service]
Type=simple
StandardOutput=journal+console
StandardError=journal+console
ExecStart=minimdnsd


[Install]
WantedBy=multi-user.target
